.aligncheckbox{
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    margin: 0 auto !important;
    margin-right: 70% !important;
}

fieldset{
    border: px !important;
    
    border-color: black !important;
    border-style: dashed !important;
}

.center{
    text-align: center !important;
    padding-bottom: 50px !important;
}