
header{
    display: flex !important;
    
    

}

.backgroundimg{
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png) !important;
    padding-top: 10%;
    background-size: cover;
    

}



.perfil{
    border-radius:100%;
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.menu-bar{
    width: 100%;
    background-color: black;
    opacity: 95%;
    display: inline-flex;
    justify-content: space-between;
    border-style: none;
    font-size: 30px;
  
    
}

.menu-bar a {
    color: aliceblue !important;
    text-decoration: none;
    padding-right: 30px;  

}


.contend{
    width: 100%;
    display: flex;
    align-items: center !important;
    font-size: 10pt !important;
    

}

.contato{
    
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
    font-size: 10pt !important;
    
}



.field{
    padding: 10px;
    margin-bottom: 15px !important;
    border: 2px solid #555 !important;
    text-align: center;
    width: 60%;
    display: flex;
    margin: 0 auto;
    font-size: 10pt !important;
}


label{
    padding-bottom: 5px;
    padding-left: 5px;   
    font-size: 10pt !important;
    font-weight: bolder;
}
.map{
    
    width: 60%;
    display: flex;
    border-radius: 50px;
    margin: 0 auto;
    padding-top: 30px;
    max-width: 100%;
    max-height: 500px;
}

.nav-tabs{
    border-bottom: none !important;
    font-size: 10pt !important;
    
}

.central{
    padding-top: 7px !important;
}

h2{
    color: black;
    padding-top: 2%;
    font-weight: bolder !important;
    color: red !important;
    font-size: 10pt !important;
}
h4{
    font-weight: bold !important;
    border: 2px solid black;
    border-style: dashed !important;
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    font-size: 10pt !important;
    
}

.btn:hover{
    background-color: green !important;
    border-style: groove !important;
    border-color: black !important;
}

.nav-link{
    color: #993399 !important;
    font-weight: bolder;
    
}

.nav-link:hover{
    border-color: white !important;
    transition: 60ms !important;
    border: 2px solid !important;
}
p{
    color: aliceblue;
    font-size: 10pt !important;
}

li{
    color: aliceblue;
    font-size: 10pt !important;
}

.card-text{
    color: black !important;
    font-style: italic;
}

.card{
    margin-block-end: 20px;
    flex-direction: row !important; 
    display: flex !important;
}

.card-img-top{
    width: auto;
    height: auto;
    max-height: 200px !important;
    max-width: 200px !important;
    border-radius: 120px !important;
   
}

.controle{ 
    width: 100% !important;
    text-align: center !important;
    font-size: 10pt !important;
}

fieldset{
    justify-items: flex-start !important;
    padding: 9px !important;
    font-size: 10pt !important;
}

h1{
    font-family: Tahoma, Verdana, Arial !important;
    color: red !important;
}
h3{
    color: red !important;
}

body{
    
    max-width: 3840px;
    max-height: 2160px;
    margin: 0 auto !important;
    color: black !important;
    background-color: #993399 !important;
    background-image: url(https://i0.wp.com/diventare.com.br/wp-content/uploads/2019/01/background-site-antigo.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace !important;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 10pt !important;
}

form{
    font-size: 10pt !important;
}