

.backgroundimg{
    background-color: #4118b3 !important;
    flex-direction: row !important;
    display: block !important;
    height: auto;

}



.perfil{
    
    max-height: 160px;
    border-radius:100%;
    display: block;
    border: 2px  solid white !important;
    margin: 0 auto !important;
    

}

.menu-bar{
    width: 100%;
    background-color: black;
    opacity: 95%;
    display: inline-flex;
    width: 100%;
}

.menu-bar a {
    color: aliceblue !important;
    padding-right: 30px;  

}


.contend{
    width: 100%;
    display: flex;
    align-items: center !important;
    font-size: 10pt !important;
    

}

.contato{
    
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto !important;
    padding: 20px;
    background-color: aliceblue;
    font-size: 10pt !important;
    
}



.field{
    padding: 10px;
    margin-bottom: 15px !important;
    border: 2px solid #555 !important;
    text-align: center;
    width: 60%;
    display: flex;
    margin: 0 auto;
    font-size: 10pt !important;
}


label{
    padding-bottom: 5px;
    padding-left: 5px;   
    font-size: 10pt !important;
    font-weight: bolder;
}
.map{
    
    width: 60%;
    display: flex;
    border-radius: 50px;
    margin: 0 auto;
    padding-top: 30px;
    max-width: 100%;
    max-height: 500px;
}

.nav-tabs{
    border-bottom: none !important;
    font-size: 10pt !important;
    
    
}

.nav{
    margin: 0 auto !important;
}


.central{
    padding-top: 7px !important;
}

h2{
    color: black;
    padding-top: 2%;
    font-weight: bolder !important;
    color: red !important;
    font-size: 10pt !important;
}
h4{
    font-weight: bold !important;
    border: 2px solid black;
    border-style: dashed !important;
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    font-size: 10pt !important;
    
}

.btn:hover{
    background-color: green !important;
    border-style: groove !important;
    border-color: black !important;
}

.nav-link{
    color: red !important;
    font-weight: bolder;
    padding: 20px !important;
    
}

.nav-link:hover{
    border-color: white !important;
    transition: 60ms !important;
    border: 2px solid !important;
    
}
p{
    color: aliceblue;
    font-size: 10pt !important;
}

li{
    color: aliceblue;
    font-size: 10pt !important;
}

.card-text{
    color: black !important;
    font-style: italic;
}

.card{
    margin-block-end: 20px;
    flex-direction: row !important; 
    display: flex !important;
}

.card-img-top{
    width: auto;
    height: auto;
    max-height: 200px !important;
    max-width: 200px !important;
    border-radius: 120px !important;
   
}

.controle{ 
    width: 100% !important;
    text-align: center !important;
    font-size: 10pt !important;
}

fieldset{
    justify-items: flex-start !important;
    padding: 9px !important;
    font-size: 10pt !important;
}

h1{
    font-family: Tahoma, Verdana, Arial !important;
    color: red !important;
}
h3{
    color: red !important;
}

body{
    background-color: #4118b3 !important;
    max-width: 1920px;
    max-height: auto !important;
    margin: 0 auto !important;
    color: black !important;
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 10pt !important;
}

form{
    font-size: 10pt !important;
}

footer{
    padding-top: 5px !important;
    
   
    background-color: #4118b3;
    height: 400px;
    padding: 25px;
}



.center{
    text-align: center;
}

.imgrow2{
    background-color: #023047 !important;
    flex: 1 !important;
}

