body{
    max-width: 2000px;
    margin: 0 auto !important;
    padding: 15px;
    color: black !important;
    background-color: beige;
}

header{
    display: flex !important;
}


.padding-central{
    padding-left: 20%;
    padding-right: 20%;
    margin-left: auto;
    margin-right: auto;
}

.perfil{
    border-radius:100%;
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.menu-bar{
    width: 100%;
    background-color: black;
    opacity: 95%;
    display: inline-flex;
    justify-content: space-between;
    border-radius: 15px;
    border-style: none;
    font-size: 40px;
}

.menu-bar a {
    color: aliceblue !important;
    text-decoration: none;
    padding-right: 30px;
    

}

.text{
    padding-top: 20px;
}

.contend{
    display: flex;
    justify-content: center !important;
    

}

.contato{
    width: 100%;
    max-width: 500px;
    
}

.form{
    display: flex;
    flex-direction: column;
    
}

.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px;
}

.textarea{
    height: 150px;
}

.map{
    text-align: center;
    width: 60%;
    display: flex;
    border-radius: 20px;
    margin: 0 auto;
}